<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Investment Forecast</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/philip.hine" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</nav>


<div class="container">
  <h2>Investment Forecast</h2>
  <p>Please fill in the following form to model your annual growth (calculated monthly).</p>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="lumpSum">Lump Sum:</label>
      <input type="text" class="form-control" id="lumpSum" name="lumpsum">
    </div>
    <div class="form-group">
      <label for="monthlyInvestment">Monthly investment:</label>
      <input type="text" class="form-control" id="monthlyInvestment" name="monthlyInvestment">
    </div>
    <div class="form-group">
      <label for="investmentTerm">Investment Term (years):</label>
      <input type="text" class="form-control" id="investmentTerm" name="investmentTerm">
    </div>
    <label class="inlineRadioButtonHeader">Risk Level:</label>
 
    <div class="form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio" value="low" checked=""><span>Low</span>
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio" value="medium"><span>Medium</span>
      </label>
    </div>
    <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio" value="medium"><span>High</span>
        </label>
      </div>
    <div>
      <button type="submit" class="btn btn-primary" id="calculateForecast">Submit</button>
    </div>
  </form>

  <div *ngIf="chart" id="chartContainer">
    <canvas id="canvas">{{chart}}</canvas>
  </div>

</div>






<nav class="navbar navbar-dark bg-dark mt-5">
  <div class="navbar-expand m-auto navbar-text">
    Made by Phil Hine
  </div>
</nav>